/* GLOBAL */

@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900");
* {
  box-sizing: border-box; }

body {
margin: 0;
}
  
.container {
margin: 0 16%;
}

.line {
    display: inline-block;
    width: 150px;
    border-bottom: 2px solid #ED145B;
    margin: 1.2rem;
}

.button {
    background-color: #ED145B;
    text-transform: uppercase;
    font-weight: 700px;
    color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    box-shadow: 0 0 5px 2px #ED145B;
    text-shadow: 0 0 4px #5a5a5a;
}

section {
    color: #5a5a5a;
    text-align: center;
}

h5 {
    text-transform: uppercase;
    color: #ED145B;
}
/* HEADER */

header {
    height: 100vh;
    background: #000 url('./../../img/header_background.jpg') center/cover;
    color: #FFF;
    font-family: "Lato", sans-serif;
    position: relative;
    min-height: 600px;
}

