// GLOBAL

$main-color: #ED145B;
$text-color: #FFF;
$additional-font-color: #5A5A5A;
$font-main: 'Lato', sans-serif;
$nav-height: 5rem;
$container-margin: 16%;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	margin: 0 $container-margin; 
}

.line {
	display: inline-block;
	width: 150px;
	border-bottom: 2px solid $main-color;
	margin: 1.2em;
}

.button {
	background-color: $main-color;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
	border: none;
	width: 150px;
	height: 35px;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background-color: #fff;
		color: $main-color;
		box-shadow: 0 0 5px 2px $main-color;
		text-shadow: 0 0 4px $additional-font-color;
	}
}


section {
	font-family: $font-main;
	color: $additional-font-color;
	text-align: center;
}


// HEADER

header {
	height: 100vh;
	background: #000 url('./../../img/header_background.jpg') center/cover;
	color: $text-color;
	font-family: $font-main;
	position: relative;
	min-height: 600px;
	.header-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		.header-slogan {
			font-weight: 300;
			margin: 0;
			text-transform: uppercase;
			span {
				font-weight: 900;
			}
		}
	}
	.header-text {
		font-weight: 300;
		margin: 0;
		padding-bottom: 0.5rem;
	}
	.button {
		margin: 3.3em auto;
	}
}

// NAVIGATION

nav {
	height: $nav-height;
	line-height: $nav-height;
	color: $text-color;
	font-size: 16px;
	font-weight: bold;
	.logo-container {
		display: inline-block;
		.logo {
			transform: translate(0, 20%);
		}
	}
	.nav-list {
		float: right;
		padding: 0;
		margin: 0;
		list-style: none;
		.nav-item {
			display: inline-block;
			a {
				color: $text-color;
				text-decoration: none;
				margin-left: 1em;
			}
		}
		.nav-active {
			a {
				color: $main-color;
			}
		}
	}
}

// ABOUT 
.about-section {
	position: relative;
	font-weight: 300;
	background-color: #f4f4f4;
	text-align: left;
	min-height: 430px;
	.clippy {
		background-color: $main-color;
		clip-path: polygon(0 0, 0 100%, 100%, 0);
		height: 2rem;
	}
	.about-content {
		width: 35%;
		h2 {
			width: 50%;
			font-weight: 300;
			font-style: italic;
			margin-top: 3rem;
		}
		.about-line {
			margin: 0.6rem;
		}
		.see-video {
			text-transform: uppercase;
			color: $main-color;
			font-weight: 700;
			padding-bottom: 50px;
			a {
				display: inline-block;
				border: 1px solic $main-color;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				.fa-play {
					transform: translate(0%, -10%);
					color: $main-color;
					font-size: 0.8rem;
					padding: 5px;
				}
				&:hover {
					background-color: $main-color;
					.fa-play {
						color: $text-color;
					}
				}
			}
		}
	}
	img {
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(0%, 15%);
	}
}

